.card.shadow
  .card-header
    .fa.fa-user
    - if user.online?
      .text-success.fa.fa-signal
    - else
      .text-danger.fa.fa-signal
    = link_to user.email, user_path(user)
  .card-footer
    - if user == current_user && user.uid.nil?
      = link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-primary btn-sm' do
        .fab.fa-google
        = t('user.buttons.sync')
      %p
    - if user.image?
      .row
      = image_tag user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle'
    .row
    = @user.name
  .card-footer
    = t('user.attributes.sign_in_ago', time: time_ago_in_words(user.created_at))
  .card-footer
    %b= t('user.attributes.sign_in_count')
    = user.sign_in_count
    .row
    %b= t('user.attributes.current_sign_in_at')
    = user.current_sign_in_at
    .row
    %b= t('user.attributes.last_sign_in_at')
    = user.last_sign_in_at
    .row
    %b= t('user.attributes.current_sign_in_ip')
    = user.current_sign_in_ip
    .row
    %b= t('user.attributes.last_sign_in_ip')
    = user.last_sign_in_ip
  .card-footer
    %b= t('user.attributes.course_income')
    = user.course_income
    .row
    %b= t('user.attributes.enrollment_expenses')
    = user.enrollment_expenses
    .row
    %b= t('user.attributes.balance')
    = user.balance
  .card-footer
    .fa.fa-graduation-cap
    = t('user.attributes.courses')
    = user.courses_count
    .row
    .fa.fa-lock-open
    = t('user.attributes.enrollments')
    = user.enrollments_count
    .row
    .fa.fa-comment
    = t('user.attributes.comments')
    = user.comments_count
    .row
    .fa.fa-eye
    = t('user.attributes.viewed')
    = user.user_lessons_count
    .row
    .fa.fa-user-graduate
    = t('user.attributes.students')
    = user.students.count
  .card-footer
    = t('user.attributes.confirmed')
    = boolean_label(user.confirmed?)
  .card-footer
    - user.roles.each do |role|
      .badge.badge-info
        = role.to_s
    - if policy(user).edit?
      = link_to t('user.buttons.edit_roles'), edit_user_path(user), class: 'btn btn-sm btn-warning'
