- content_for :title do
  = t('title.title')
  \/
  = t('.editing')
  = @user.username

.card.shadow
  .card-header
    = t('.editing')
    = @user.email
  .card-body
    = simple_form_for @user do |f|
      = f.collection_check_boxes :role_ids, Role.all, :id, :name
      = f.error :roles, class: 'text-danger'
      %hr
      .float-left
        = f.submit t('.update'), class: 'btn btn-success'
    .float-right
      =link_to t('.cancel'), users_path, class: 'btn btn-danger'

