- content_for :title do
  = t('title.title')
  \| 
  = @user.username

.row
  .col-md-6
    = render 'users/user', user: @user
    %p
  .col-md-6
    .card.shadow
      .card-header
        %b= t('.teaching')
      .card-body
        - @courses_teaching.each do |course|
          .row
          = link_to course.title, course_path(course)
    %p
    .card.shadow
      .card-header
        %b= t('.learning')
      .card-body
        - @courses_learning.each do |enrollment|
          .row
          = link_to enrollment.course.title, course_path(enrollment.course)
