- content_for :title do
  RubyGems
  \|
  Online courses - Learn Anything, On Your Schedule

.jumbotron.shadow.parallax
  .h1.text-shadow
    = t('.phrase')
  .p-4
  
  - if current_user
    = search_form_for @ransack_courses, as: :courses_search,url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px;', autocomplete: 'off', placeholder: t('placeholders.find')
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}
    .p-2
  - else
    %h3.text-shadow= t('.join')
    .p-2
    = link_to t('session.register'), new_user_registration_path, class: 'btn btn-custom-purple btn-lg'
    = link_to t('session.log_in'), new_user_session_path, class: 'btn btn-custom-purple btn-lg'
    .row.mt-1
    = link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-danger btn-lg mr-1' do
      = t('.continue')
      .fab.fa-google
    .row.mt-1
    = link_to user_github_omniauth_authorize_path, class: 'btn btn-dark btn-lg mr-1' do
      = t('.continue')
      .fab.fa-github
    .row.mt-1
    = link_to user_vkontakte_omniauth_authorize_path, class: 'btn btn-primary btn-lg mr-1' do
      = t('.continue')
      .fab.fa-vk

.card-group.shadow
  .card.card-body.parallax
    %h1.text-shadow
      .text-center
        .fa.fa-graduation-cap
    .text-center
      = t('.courses', count: Course.approved.published.count)
      .row
      %small= t('.explore')
  .card.card-body.parallax
    %h1.text-shadow
      .text-center
        .fa.fa-chalkboard-teacher
    .text-center
      = t('.teachers', count: Course.distinct.count(:user_id))
      .row
      %small= t('.find')
  .card.card-body.parallax
    %h1.text-shadow
      .text-center
        .fa.fa-user-graduate
    .text-center
      = t('.learners', count: User.count)
      .row
      %small= t('.community')
  .card.card-body.parallax
    %h1.text-shadow
      .text-center
        .fa.fa-infinity
    .text-center
      = t('.access')
      .row
      %small= t('.schedule')
%p

%h2.text-center.text-shadow
  .fa.fa-tags
  = t('.tags')
- @popular_tags.each do |tag|
  = link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}) do
    .mt-1.btn.btn-info
      = tag.name
      %span.badge.badge-light
        = tag.course_tags_count

%hr
- if current_user
  - if current_user.enrollments.any?
    %h2.text-center
      .fa.fa-user-graduate
      = link_to t('.learning'), learning_courses_path
    .row
      - @learning_courses.each do |course|
        .col-md-6
          = render 'courses/course', course: course
          %p
    %hr
  - if current_user.courses.any?
    %h2.text-center
      .fa.fa-chalkboard-teacher
      = link_to t('.teaching'), teaching_courses_path
    .row
      - @teaching_courses.each do |course|
        .col-md-6
          = render 'courses/course', course: course
          %p
    %hr

%h2.text-center
  .fa.fa-chart-line
  = link_to t('.popular'), courses_path(courses_search: {s: 'enrollments_count desc'})
.row
  - @popular.each do |course|
    .col-md-6
      = render 'courses/course', course: course
      %p
%hr

%h2.text-center
  .fa.fa-star
  = link_to t('.top'), courses_path(courses_search: {s: 'average_rating desc'})
.row
  - @top_rated.each do |course|
    .col-md-6
      = render 'courses/course', course: course
      %p
%hr

%h2.text-center
  .fa.fa-clock
  = link_to t('.latest'), courses_path(courses_search: {s: 'created_at desc'})
.row
  - @latest.each do |course|
    .col-md-6
      = render 'courses/course', course: course
      %p
%hr

%h2.text-center
  .fa.fa-comment
  = t('.reviews')
.row
  - @latest_good_review.each do |enrollment|
    .col-md-6
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
%br

.card-group.shadow
  .card
    .card-body
      .text-center
        .fa.fa-clock
        %b= t('.block.pace')
        .row
        %small
          = t('.block.access')
  .card
    .card-body
      .text-center
        .far.fa-check-circle
        %b= t('.block.learn')
        .row
        %small
          = t('.block.select')
  .card
    .card-body
      .text-center
        .far.fa-play-circle
        %b= t('.block.video')
        .row
        %small
          = t('.block.library')
