- content_for :title do
  = t('title.title')
  \|
  = t('.reviewing')
  = @enrollment

.card.shadow
  .card-header
    %h3
      .fa.fa-lock-open
      = t('.add')
  .card-body
    = render 'form'
  .card-footer
    = link_to t('global.buttons.show'), @enrollment
    \|
    = link_to t('global.buttons.back'), course_path(@enrollment.course)
