- content_for :title do
  RubyGems
  \|
  All enrollments

%h3
  .text-center
    Enrollments
    .badge.badge-info
      =@enrollments.count
%p

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th 
          .fa.fa-user
          User
        %th 
          .fa.fa-clock
          Bought
        %th 
          .fa.fa-graduation-cap
          Course
        %th
          .fa.fa-dollar-sign
          Price
        %th 
          .text-warning.fa.fa-clock
          Reviewed on
        %th 
          .text-warning.fa.fa-comment
          Review
        %th 
          .text-warning.fa.fa-star
          Rating
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.created_at.strftime("%d.%b %Y, %H:%M")
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= number_to_currency(enrollment.price)
          %td
            - if enrollment.rating.present?
              = time_ago_in_words(enrollment.updated_at) 
              ago
          %td= enrollment.review
          %td= enrollment.rating
          %td= link_to 'See review', enrollment
          %td= link_to 'Add review', edit_enrollment_path(enrollment)
          %td= link_to 'Delete enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Enrollment', new_enrollment_path
