- content_for :title do
  RubyGems
  \|
  All enrollments

%h3
  .text-center
    Enrollments
    .badge.badge-info
      =@enrollments.count
%p


= search_form_for @q do |f|
  = f.search_field :user_email_cont, placeholder: 'EMail'
  = f.search_field :course_title_cont, placeholder: 'Course'
  = f.search_field :price_eq, placeholder: 'Price'
  = f.search_field :rating_eq, placeholder: 'Rating'
  = f.search_field :review_cont, placeholder: 'Review'
  = f.submit
%p
.ml-5
= link_to 'Refresh', enrollments_path, class: 'btn btn-sm btn-secondary'

%br
.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th
          .fa.fa-user
            = sort_link(@q, :user_email) 
        %th 
          .fa.fa-clock
            = sort_link(@q, :created_at) 
        %th 
          .fa.fa-graduation-cap
            = sort_link(@q, :course_title) 
        %th
          .fa.fa-dollar-sign
            = sort_link(@q, :price) 
        %th 
          .text-warning.fa.fa-clock
            = sort_link(@q, :updated_at) 
        %th 
          .text-warning.fa.fa-comment
          Review
        %th 
          .text-warning.fa.fa-star
            = sort_link(@q, :rating) 
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.created_at.strftime("%d.%b %Y, %H:%M")
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= number_to_currency(enrollment.price)
          %td
            - if enrollment.rating.present?
              = time_ago_in_words(enrollment.updated_at) 
              ago
          %td= enrollment.review
          %td= enrollment.rating
          %td= link_to 'See review', enrollment
          %td= link_to 'Add review', edit_enrollment_path(enrollment)
          %td= link_to 'Delete enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }
%br
!= pagy_bootstrap_nav(@pagy)
