.card.shadow
  .card-header
    - if lesson.viewed(current_user) == true
      .text-success.fa.fa-check-square

    - else
      .text-danger.fa.fa-check-square

    = link_to course_lesson_path(@course, lesson) do
      %b
        #{lesson.row_order_rank + 1}.
      = lesson.title
    .float-right.small
      - if policy(lesson).edit?
        - if lesson.comments.any?
          .fa.fa-comment
          = lesson.comments_count

        .fa.fa-eye
        = t('lessons.lesson_preview.uniq_viewers')
        = lesson.user_lessons_count

        .fa.fa-eye
        = t('lessons.lesson_preview.views')
        = lesson.user_lessons.map(&:impressions).sum


  .card-body
    - if @lesson.video.attached?
      %video(controls="true" width="100%" preload="metadata" controlslist="nodownload")
        %source{src: rails_blob_url(@lesson.video), type:"#{@lesson.video.content_type}"}

    = lesson.content

  - if current_user
    .card-footer
      .row.justify-content-between
        .col-auto
          - unless lesson.prev.nil?
            = link_to course_lesson_path(@course, lesson.prev), class: 'btn btn-sm btn-info' do
              .fa.fa-arrow-left
              = t('.prev')

        .col-auto
          - if policy(lesson).edit?
            = link_to edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning mr-1' do
              .fa.fa-edit
            = link_to [@course, lesson], method: :delete, data: { confirm: t('global.confirmation') }, class: 'btn btn-sm btn-danger' do
              .fa.fa-trash

        .col-auto
          - unless lesson.next.nil?
          
            = link_to course_lesson_path(@course, lesson.next), class: 'btn btn-sm btn-info' do
              = t('.next')
              .fa.fa-arrow-right
