- content_for :title do
  = t('title.title')
  \/
  = t('title.course')
  = @course.title
  \/
  = t('title.editing_lesson')
  = @lesson.title

%ol.breadcrumb.rounded
  %li.breadcrumb-item= link_to t('title.courses'), courses_path
  %li.breadcrumb-item= link_to @lesson.course.title, course_path(@lesson.course)
  %li.breadcrumb-item= link_to @lesson.title, course_lesson_path(@course, @lesson)
  %li.breadcrumb-item= t('title.editing_lesson')

.card.shadow
  .card-header
    %h3
      .far.fa.fa-check-square
      = t('title.editing_lesson')
  .card-body
    = render 'form'
  .card-footer
    = link_to t('global.buttons.show'), course_lesson_path(@course, @lesson)
    \|
    = link_to t('global.buttons.back'), course_path(@lesson.course)
