- content_for :title do
  RubyGems
  \/
  Course
  = @course.title
  \/
  New lesson

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
New
%p

.card.shadow
  .card-header
    %h3
      .far.fa.fa-check-square
      New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)
