- content_for :title do
  = t('title.title')
  \/
  = t('title.course')
  = @course.title
  \/
  = t('title.new_lesson')

%ol.breadcrumb.rounded
  %li.breadcrumb-item= link_to t('title.courses'), courses_path
  %li.breadcrumb-item= link_to @course.title, course_path(@course)
  %li.breadcrumb-item= t('title.new_lesson')

.card.shadow
  .card-header
    %h3
      .far.fa.fa-check-square
      = t('title.new_lesson')
  .card-body
    = render 'form'
  .card-footer
    = link_to t('global.buttons.back'), course_path(@course)
