- content_for :title do
  = t('title.title')
  \/
  = t('title.course')
  = @course.title
  \/
  = t('title.lesson')
  = @lesson.title

= link_to t('title.courses'), courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= link_to @lesson.title, course_lesson_path(@course, @lesson)
%p

.row
  .col-lg-8.order-1.order-lg-1
    = render 'lessons/lesson', lesson: @lesson
    %p
    
    %h4
      .text-center
        .fa.fa-comment
        = t('.comments')
        = @lesson.comments_count
    .card.shadow
      .card-header
        = t('.new_comment')
      .card-body
        = render 'lessons/comments/form'
    %p

    - @comments.each do |comment|
      = render 'lessons/comments/comment', comment: comment
      %p

  .col-lg-4.order-0.order-lg-1
    .sticky-top
      %ul.list-group.shadow
        %li.list-group-item
          = link_to course_path(@lesson.course) do
            .fa.fa-graduation-cap
            = @lesson.course.title
        - @chapters.each do |chapter|
          .list-group-item.shadow
            = render 'chapters/chapter_preview', chapter: chapter
            - chapter.lessons.rank(:row_order).each do |lesson|
              - if @lesson.present? && lesson == @lesson
                %li.list-group-item.list-group-item-info
                  = render 'lessons/lesson_preview', lesson: lesson
              - else
                .list-group-item.list-group-item
                  = render 'lessons/lesson_preview', lesson: lesson
    %p
