- content_for :title do
  RubyGems
  \|
  = @course.title
  Analytics

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
= link_to 'Analytics', analytics_course_path(@course)

%h4.text-center
  = t('.title', t: @course.title)
%p

%h5.text-center
  = t('.enrollments_q')

.card.shadow
  .card-body
    = line_chart @course.enrollments.group_by_day(:created_at).count
%p

%h5.text-center
  = t('.enrollments_r')

.card.shadow
  .card-body
    = line_chart @course.enrollments.group_by_day(:created_at).sum(:price)
%p

%h5.text-center
  = t('.uniq_views')

.card.shadow
  .card-body
    = bar_chart @course.user_lessons.joins(:lesson).group(:'lessons.title').count
%p

%h5.text-center
  = t('.views')

.card.shadow
  .card-body
    = bar_chart @course.user_lessons.joins(:lesson).group(:'lessons.title').sum(:impressions)
%p
