- content_for :title do
  RubyGems
  \|
  Editing
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
= link_to 'Edit', edit_course_path(@course)

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      Editing course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @course
    \|
    = link_to 'Back', courses_path
