- content_for :title do
  = t('title.title')
  \|
  = @course.title

= link_to t('title.courses'), courses_path
\/
= link_to @course.title, course_path(@course)

.row
  .col-lg-8.order-1.order-lg-1
    .jumbotron.shadow
      %h3
        .fa.fa-graduation-cap
        = @course.title
      .p-3 
      .fa.fa-clock
      = @course.updated_at.strftime("%b %Y")
      .row
      .fa.fa-globe-europe
      = @course.language
      .row
      .fa.fa-signal
      = @course.level
      .p-3
      = @course.description
    %p

    %ul.list-group
      - @chapters.each do |chapter|
        %li.list-group-item.shadow
          = render 'chapters/chapter_preview', chapter: chapter
          - chapter.lessons.rank(:row_order).each do |lesson|
            .list-group-item.list-group-item-secondary
              = render 'lessons/lesson_preview', lesson: lesson
        %p

    %h5
      .fa.fa-comment
      = t('.review', count: @reviews.count)

    - @reviews.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p


%h4=t('.similar')
.row
  - @course.similar_courses.each do |course|
    .col-md-6
      = render 'courses/course', course: course
      %p
