- content_for :title do
  RubyGems
  \|
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)

.row
  .col-lg-8.order-1.order-lg-1
    .jumbotron
      %h3
        .fa.fa-graduation-cap
        = @course.title
        -# .row
        -# - if @course.avatar.attached?
        -#   = image_tag @course.avatar, width: '200px'
      .p-3 
      .fa.fa-clock
      = @course.updated_at.strftime("%b %Y")
      .row
      .fa.fa-globe-europe
      = @course.language
      .row
      .fa.fa-signal
      = @course.level
      .p-3
      = @course.description
    %p
    %h5
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'lesson')
      -# Lessons:
      -# = @course.lessons_count
      .float-right
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)   
    %ul.list-group.lesson-sortable
      - @lessons.each do |lesson|
        = content_tag 'div', id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson) } do
          %li.list-group-item
            = render 'lessons/lesson_preview', lesson: lesson 
    %p
    %h5
      .fa.fa-comment
      = pluralize(@enrollments_with_review.count, 'review')
      -# Reviews:
      -# = @enrollments_with_review.count

    - @enrollments_with_review.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p
