- content_for :title do
  = t('title.title')
  \|
  = @course.title

= link_to t('title.courses'), courses_path
\/
= link_to @course.title, course_path(@course)

.row
  .col-lg-8.order-1.order-lg-1
    .jumbotron.shadow
      %h3
        .fa.fa-graduation-cap
        = @course.title
      .p-3 
      .fa.fa-clock
      = @course.updated_at.strftime("%b %Y")
      .row
      .fa.fa-globe-europe
      = @course.language
      .row
      .fa.fa-signal
      = @course.level
      .p-3
      = @course.description
    %p

    .list-group.chapter-sortable{:style => "cursor: grab;"}
      - @chapters.each do |chapter|
        = content_tag "div", id: "chapter-#{chapter.id}", data: { id: chapter.id, model_name: chapter.class.name.underscore, update_url: course_chapter_sort_path(@course, chapter)} do
          .list-group-item.rounded.shadow
            = render 'chapters/chapter_preview', chapter: chapter

            .list-group.lesson-sortable{:style => "cursor: grab; min-height: 10px;"}
              - chapter.lessons.rank(:row_order).each do |lesson|
                = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
                  .list-group-item
                    = render 'lessons/lesson_preview', lesson: lesson
        %p

    %h5
      .fa.fa-comment
      = t('.review', count: @reviews.count)

    - @reviews.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course_panel', course: @course
    %p


%h4=t('.similar')
.row
  - @course.similar_courses.each do |course|
    .col-md-6
      = render 'courses/course_preview', course: course
      %p
