- content_for :title do
  RubyGems
  \|
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)

.row
  .col-lg-8.order-1.order-lg-1
    .jumbotron.shadow
      %h3
        .fa.fa-graduation-cap
        = @course.title
      .p-3 
      .fa.fa-clock
      = @course.updated_at.strftime("%b %Y")
      .row
      .fa.fa-globe-europe
      = @course.language
      .row
      .fa.fa-signal
      = @course.level
      .p-3
      = @course.description
    %p
    %h5
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'lesson')
    %ul.list-group.lesson-sortable.shadow
      - @lessons.each do |lesson|
        = content_tag 'div', id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson) } do
          %li.list-group-item{:style => "cursor: grab;"}
            = render 'lessons/lesson_preview', lesson: lesson 
    %p
    %h5
      .fa.fa-comment
      = pluralize(@enrollments_with_review.count, 'review')

    - @enrollments_with_review.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p


%h4 Similar courses
.row
  - Course.approved.published.where.not(id: @course.id).each do |course|
    - unless @course.tags.pluck(:id).intersection(course.tags.pluck(:id)).count.zero?
      .col-md-6
        - @course.tags.pluck(:id).intersection(course.tags.pluck(:id)).each do |x|
        = render 'courses/course', course: course
        %p
