- content_for :title do
  RubyGems
  \|
  Editing
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
= link_to t(".steps.#{step}"), course_course_wizard_path(@course, step)

.card.shadow
  .progress
    .progress-bar{style: "width: #{@progress}%"}
      = number_to_percentage(@progress, precision: 0)
  .progress
    - wizard_steps.each do |s|
      -if current_page?(course_course_wizard_path(@course, s))
        - @color = 'bg-success'
      -else 
        - @color = 'bg-secondary'
      = link_to course_course_wizard_path(@course, s), class: "progress-bar #{@color}", style: "width: #{@progress}%" do
        = t(".steps.#{s}")

  .card-header
    %h4 
      = t(".steps.#{step}")
      .float-right
        = t('.phase', current: wizard_steps.index(step) + 1, total: wizard_steps.count)
  .card-body
    .container.text-danger
      - if @course.errors.any? 
        - @course.errors.full_messages.each do |msg|
          %li= msg
          %p
    = yield 

    .float-left
      - if wizard_steps.index(step) > 0
        = link_to previous_wizard_path, class: 'btn btn-info' do
          .fa.fa-arrow-left
          = t('.previous')
      - else
        = link_to course_path(@course), class: 'btn btn-danger' do
          .fa.fa-window-close
          = t('.cancel')
