= render 'courses/course_wizard/wizard' do
  = simple_form_for @course, url: course_course_wizard_path, method: :put do |f|
    .form-inputs
      = f.label t('.tags')
      = f.select :tag_ids, @tags.all.pluck(:name, :id), {}, { multiple: true, class: 'selectize-tags' }
      %p
      = f.label t('.publish')
      .custom-control.custom-switch
        = f.check_box :published, class: "custom-control-input", id: "publishSwitch1"
        %label.custom-control-label{:for => "publishSwitch1"} Publish
    %br
    %hr
    .float-right
      .form-actions
        = f.submit t('.finish'), class: 'btn btn-success'
