%footer.purple-background.text-light
  .container
    %br
    .row
      .col-md-4
        = link_to t('.teach'), new_course_path
        .row
        = t('.business')
        .row
        = t('.about')
      .col-md-4
        = link_to t('.policy'), privacy_policy_path
        .row
        = t('.terms')
        .row
        = t('.help')
      .col-md-4
        Copyright
        © 
        = Time.now.year
        CoursePlatform SPb. z 421.78
        .row
        .fa.fa-envelope
        = mail_to 'i.dwanderer@gmail.com'
        .row
  %br
