!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, inintial-scale=1.0", :name => "viewport"}/
    %meta{description: 'Online Learning and Skill sharing platform'}/
    %meta{keywords: 'online education, course platform, video tutorials, udemy clone'}/
    %meta{author: 'Eugene Avdonat'}/
    = favicon_link_tag 'logo.png'
    %title 
      = content_for?(:title) ? yield(:title) : t('title.title') 

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      = render 'layouts/google_analytics'

  %body
    %header
      = render 'layouts/header'
    %main
      .container
        %p
        = render 'layouts/messages'
        %p
        = yield
      %br
    %footer
      = render 'layouts/footer'
